APP_NAME=CoCTrack
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=es
LOG_CHANNEL=stack
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=coctrack
DB_USERNAME=coctrack
DB_PASSWORD=coctrack
# Clash of Clans API - https://developer.clashofclans.com
# Crea token IP-restricted (tu IP 186.84.89.86) y clan tag con #
COC_API_URL=https://api.clashofclans.com/v1
COC_API_TOKEN=
COC_CLAN_TAG=#2U992RG2G
CACHE_DRIVER=file
QUEUE_CONNECTION=sync


#########################################

APP_NAME=CoCTrack
APP_ENV=local
APP_KEY=base64:0zpATz5UrCOQ2/Ho96S6fbYTvw6dpy7ahDSku4YvUr4=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=es
LOG_CHANNEL=stack
DB_CONNECTION=pgsql
DATABASE_URL=postgresql://postgres.mslrxzfpqquglcesjcgy:[YOUR-PASSWORD]@aws-0-ca-central-1.pooler.supabase.com:5432/postgres
DB_HOST=aws-0-ca-central-1.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres.mslrxzfpqquglcesjcgy
DB_PASSWORD=riBuoWNXEKJEfg2h
COC_API_URL=https://api.clashofclans.com/v1
COC_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjEwMjA1MjQ0LTI3YjItNGQzNS1hMzVlLWY2ZjhmODMyYWFkMCIsImlhdCI6MTc5MDA5NTQxNywic3ViIjoiZGV2ZWxvcGVyL2QzMzc4YmVkLTc0NWEtNGQyNC05YjkzLTM3Y2ZiMTY0YWUwZCIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjE4Ni44NC44OS44NiJdLCJ0eXBlIjoiY2xpZW50In1dfQ.NpbuZPs9ViUcDQXALVYs_4TH-0Yyz7LLD7n6wPvX-674hScg9ZBoDvZjbkiKvzKwSMQb2MQEOys_xBRzS1rnPg
COC_CLAN_TAG="#2U992RG2G"
CACHE_STORE=file
QUEUE_CONNECTION=sync
