APP_NAME=CoCTrack
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=es
LOG_CHANNEL=stack
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=coctrack
DB_USERNAME=coctrack
DB_PASSWORD=coctrack
# Clash of Clans API - https://developer.clashofclans.com
# Crea token IP-restricted (tu IP 186.84.89.86) y clan tag con #
COC_API_URL=https://api.clashofclans.com/v1
COC_API_TOKEN=
COC_CLAN_TAG=#2U992RG2G
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
